<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <title>Washup</title>
        <link rel="icon" href="../img/favicon.ico">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    </head>
    <body>
            <section class="overview">
                <div class="overview__container">
                    <h1 class="overview__heading">Shampoo Interior Cleaning</h1>

                    <div class="overview__details">
                        <h2 class="overview__subheading">Description :</h2>
                        <p class="overview__paragraph">
                            Cleaning car seats is mainly done for two things Hygienic and Appearance. Car interiors will become more dirty if you regularly transport children and pets .Car seats are cleaned to prevent soils and stains from setting.
                            With an interior shampooing, this treatment is used to remove all odors, stains etc. General sickness can be greatly reduced by keeping the interior of your car clean.
                        </p>

                        <h2 class="overview__subheading">Price :</h2>
                        <p class="overview__paragraph">
                            &#x20B9 999
                        </p>

                        <h2 class="overview__subheading">Time:</h2>
                        <p class="overview__paragraph">
                            2 Hours
                        </p>

                        <a href="/template/index.html#services" class="overview__link">Back</a>
                    </div>

                   
                </div>

            </section>
    </body>
</html>